<div>
	<%= form_tag(insert_path, method: :post) do %>
	 <input name = "name" type = "text" class = "form-control" placeholder = "Hotel Name" required/>
	 <input name = "city" type = "text" class = "form-control" placeholder = "City" required/>
	 <textarea name = "description" class = "form-control" placeholder = "Hotel Description" required></textarea>
	 <input name = "rating" class = "form-control" type="number" min = "1" max = "5" placeholder = "Rating" required/>
	 <input type="submit" class="btn btn-primary"/>
	<% end %>
</div>
